/*radius game: 25px*/
/*radius hints: 16,5*/
h1
{
    text-align: center;
}
 p{
    display: inline;
    background-color: #31475A;
    color: white;
    flex-direction: row;
    font-size: 31.5px; 
    margin: 10px;
    font-family: Helvetica; 
    font-weight: bold; 
}
p:hover {
    color: #F0921D;
  }

 .active {
    color: #F0921D;
  }

b{
    font-family: Helvetica; 
    color: white;
    font-size: 20px; 
    background-color: #31475A; 
    padding-left: 10px; 
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 3px solid #F0921D;
}

i{
    font-family: Helvetica; 
    color: #F0921D; 
    background-color: #31475A;  
    font-size: 20px; 
    padding-right: 10px; 
    padding-bottom: 8px;
    padding-top: 8px; 
    border-bottom: 3px solid #F0921D;
}



nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    /*grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr;*/
}

#header-img
{
    background-color: #31475A; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-bottom: 3px solid #F0921D;
    flex: 1;
    height: 50%;
    margin-left: 1em;
    margin-top: auto; 
    margin-bottom: auto; 
    
}

.container
{
    display: flex; 
    justify-content: center;
    flex-direction: row;
    /*padding: 0.5em;*/
}

#box_gameboard
{
    background-image: url("resources/image_gameboard.png");
    height: 785px;
    width: 433px;
    display: grid;
    grid-template-columns: repeat(4, 0);
    grid-template-rows: repeat(8, 0);
    gap: 0.01em;
}

.circle_play
{
    /*visibility: hidden;*/
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
}

#box_hintboard
{
    background-image: url("resources/image_hint.png");
    height: 785px;
    width: 180px;
    padding: 0;
}

#box_dialog
{
    visibility: hidden;
    background-color: green;
    border: 0.1em solid black;
    z-index: 9;
    margin-top: 8.5em;
    height: 23em;
    width: 23em;
}

#container_colourPicker
{
    visibility: hidden;
    background-color: green;
    border: 0.1em solid black;
    z-index: 9;
    margin-left: 2em;
    margin-top: 8.5em;
    height: 34em;
    width: 23em;
    display: grid;
    grid-template-columns: repeat(2, 0);
    grid-template-rows: repeat(3, 0);
    gap: 0.01em;
     
    
}

.box_colour
{
    /*visibility: hidden;*/
    margin: 0.1em;
}

#box_colour_1
{
    background-color: #00FFFF;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-top: 1.25em;
    margin-left: -10.5em;
}

#box_colour_2
{
    background-color: #FF0000;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-top: 1.25em;
    margin-left: 0.5em;
}

#box_colour_3
{
    background-color: #00FF00;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-left: -10.5em;
    margin-top: 11.9em;
}

#box_colour_4
{
    background-color: #0000FF;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-left: 0.5em;
    margin-top: 11.9em;
}

#box_colour_5
{
    background-color: #FF1493;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-left: -10.5em;
    margin-top: 22.5em;
}

#box_colour_6
{
    background-color: #FFFF00;
    z-index: 15;
    width: 10em;
    height: 10em;
    margin: 0.5em;
    margin-left: 0.5em;
    margin-top: 22.5em;
}

#container_hintboard
{
    float: right;
}

#box_hintboard
{
    background-image: url("resources/image_hint.png");
    height: 785px;
    width: 180px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.circle_hint
{
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
}

#box_dialog
{ 
    visibility: hidden;
    background-color: #31475A;
    border: 0.1em solid #F0921D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;
    margin-top: 8.5em;
    height: 23em;
    width: 23em;
}

#dialog_text
{
    margin: auto;
    /*margin-top: 0.8em;*/
    text-align: center;
    display: block;
    font-family: Ubuntu, sans-serif;
    font-size: 72pt;
    color: white;
}

#button_playAgain {
    background-color: #31475A;
    color: #F0921D;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #button_playAgain:hover {
    background-color: #F0921D;
    color: #31475A;
  }

footer
{
    margin-top: 10px;
    margin-bottom: 4px; 
    border-top: 4px solid #F0921D;
    background-color: #31475A; 
    color: white; 
    font-family: Helvetica;
    text-align: right; 
}

#dialog_colourPattern
{
    visibility: hidden;
    display: flex;
    flex-direction: row;
}

.circle_dialog
{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 0.5em;
    margin-left: auto;
    margin-right: auto;
    color: white;
}