/*First row (counted from top to bottom)*/
#circle_play_32
{
    margin-top: 5.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_31
{
    margin-top: 5.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_30
{
    margin-top: 5.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_29
{
    margin-top: 5.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*second row (counted from top to bottom)*/
#circle_play_28
{
    margin-top: 10.9em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_27
{
    margin-top: 10.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_26
{
    margin-top: 10.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_25
{
    margin-top: 10.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*third row (counted from top to bottom)*/
#circle_play_24
{
    margin-top: 16.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_23
{
    margin-top: 16.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_22
{
    margin-top: 16.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_21
{
    margin-top: 16.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*fourth row (counted from top to bottom)*/
#circle_play_20
{
    margin-top: 21.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_19
{
    margin-top: 21.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_18
{
    margin-top: 21.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_17
{
    margin-top: 21.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*fifth row (counted from top to bottom*/
#circle_play_16
{
    margin-top: 26.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_15
{
    margin-top: 26.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_14
{
    margin-top: 26.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_13
{
    margin-top: 26.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*sixth row (counted from top to bottom*/
#circle_play_12
{
    margin-top: 32em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_11
{
    margin-top: 32em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_10
{
    margin-top: 32em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_9
{
    margin-top: 32em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*seventh row (counted from top to bottom*/
#circle_play_8
{
    margin-top: 37.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_7
{
    margin-top: 37.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_6
{
    margin-top: 37.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_5
{
    margin-top: 37.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/*eighth row (counted from top to bottom*/
#circle_play_4
{
    margin-top: 42.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.4em;
}

#circle_play_3
{
    margin-top: 42.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 9.4em;
}

#circle_play_2
{
    margin-top: 42.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 14.4em;
}

#circle_play_1
{
    margin-top: 42.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 19.4em;
}

/* Hints for Row 1 */
#box_hint_1
{
    position: absolute;
    margin-top: 41.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_2
{
    position: absolute;
    margin-top: 41.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_3
{
    position: absolute;
    margin-top: 44em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_4
{
    position: absolute;
    margin-top: 44em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for Row 2 */
#box_hint_5
{
    position: absolute;
    margin-top: 35.7em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_6
{
    position: absolute;
    margin-top: 35.7em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_7
{
    position: absolute;
    margin-top: 38.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_8
{
    position: absolute;
    margin-top: 38.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 3 */
#box_hint_9
{
    position: absolute;
    margin-top: 30em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_10
{
    position: absolute;
    margin-top: 30em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_11
{
    position: absolute;
    margin-top: 32.9em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_12
{
    position: absolute;
    margin-top: 32.9em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 4 */
#box_hint_13
{
    position: absolute;
    margin-top: 24.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_14
{
    position: absolute;
    margin-top: 24.5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_15
{
    position: absolute;
    margin-top: 27.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_16
{
    position: absolute;
    margin-top: 27.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 5 */
#box_hint_17
{
    position: absolute;
    margin-top: 19em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_18
{
    position: absolute;
    margin-top: 19em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_19
{
    position: absolute;
    margin-top: 21.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_20
{
    position: absolute;
    margin-top: 21.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 6 */
#box_hint_21
{
    position: absolute;
    margin-top: 13.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_22
{
    position: absolute;
    margin-top: 13.4em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_23
{
    position: absolute;
    margin-top: 16.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_24
{
    position: absolute;
    margin-top: 16.2em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 7 */
#box_hint_25
{
    position: absolute;
    margin-top: 7.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_26
{
    position: absolute;
    margin-top: 7.8em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_27
{
    position: absolute;
    margin-top: 10.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_28
{
    position: absolute;
    margin-top: 10.6em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

/* Hints for row 8 */
#box_hint_29
{
    position: absolute;
    margin-top: 2.3em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_30
{
    position: absolute;
    margin-top: 2.3em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}

#box_hint_31
{
    position: absolute;
    margin-top: 5.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.2em;
}

#box_hint_32
{
    position: absolute;
    margin-top: 5.1em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.6em;
}


