﻿main {
  font-family: "Raleway", sans-serif;
  /*background-image: radial-gradient(circle at center, #366BA1, #2A547E);
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, ##366BA1, ##2A547E);
  font-weight: 300;
}

body
{
	font-family: "Raleway", sans-serif;
	background-image: radial-gradient(circle at center, #366BA1, #2A547E);
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	position:relative;
	top: 0.5em;
	left: 0.5em; 
	float: left;
}

footer{
	position:relative;
	top: 0.5em;
	left: 0.5em; 
	float: right;
}

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
}
.all:hover .text {
  opacity: 1;
}
.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}
.all:hover .explainer {
  opacity: 0;
}

.left,
.center,
.right {
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #4d708e;
  cursor: pointer;
  background-blend-mode: color-burn;
}

.left:hover,
.center:hover,
.right:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}

.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(https://cdn-icons-png.flaticon.com/128/1660/1660165.png);
  background-size: 80px;
}

.center {
  opacity: 1;
  background-image: url(https://cdn-icons-png.flaticon.com/128/109/109197.png);
  background-size: 80px;
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(https://cdn-icons-png.flaticon.com/128/2311/2311515.png);
  background-size: 80px;
}

.explainer {
  font-weight: 300;
  font-weight: bold; 
  font-size: 2rem;
  color: black;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref {
  background-color: #31475A;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #F0921D;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ref::first-letter {
  font-size: 12px;
}

