p{
    display: inline;
    background-color: #31475A;
    color: white;
    flex-direction: row;
    font-size: 31.5px; 
    margin: 10px;
    font-family: Helvetica; 
    font-weight: bold; 
}
p:hover {
    color: #F0921D;
  }

 .active {
    color: #F0921D;
  }

nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    /*grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr;*/
}

main{
    font-family: "Verdana"; 
    text-align: center; 
    font-size: 30px; 
    margin-top: auto; 
    margin-bottom: auto; 
}

#header-img
{
    background-color: #31475A; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-bottom: 3px solid #F0921D;
    flex: 1;
    height: 50%;
    margin-left: 1em;
    margin-top: auto; 
    margin-bottom: auto; 
    
}

.container
{
    display: flex; 
    justify-content: center;
    flex-direction: row;
    /*padding: 0.5em;*/
}

.button {
    background-color: #F0921D;
    color: #31475A;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #31475A;
    font-weight: bold;
}

.button:hover {
    background-color: #31475A;
    color: #F0921D;
    border-color: #F0921D;
}

.button:active {
    background-color: #31475A;
    color: #F0921D;
    border-color: #F0921D;
    font-weight: bold;
    transform: translateY(4px);
}

.switch {
    position: relative;
    display: inline-block;
    width: 115px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0921D;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Slider dot before*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #31475A;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Slider dot after */
.slider:after {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F0921D;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Change color */
input:checked + .slider {
    background-color: #31475A;
}

/* Change animation*/
input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
}

/* Change animation*/
.slider::after {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
}

.on {
    display: none;
    color: #F0921D;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.off {
    color: #31475A;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round::after
{
    border-radius: 50%;
}

#dialog_ok
{
    visibility: hidden;
    color: #00FF00;
    font-weight: bold;
}

footer
{
    margin-top: 10px;
    margin-bottom: 4px; 
    border-top: 4px solid #F0921D;
    background-color: #31475A; 
    color: white; 
    font-family: Helvetica;
    text-align: right; 
    position: fixed; 
    bottom: 0em; 
    right: 0em; 
    left: 0em; 
    max-width: 100%; 
}