
h2
{
    text-align: center;
}

h3
{
    letter-spacing: 1px;
    margin-bottom: 10px;
}

main{
	margin-left: 5px;
	margin-right: 0;
    font-family: "Verdana"; 
}
li{
    padding-left: 5px;
}


footer
{
    margin-top: 10px;
    margin-bottom: 4px; 
    border-top: 4px solid #F0921D;
    background-color: #31475A; 
    color: white; 
    font-family: Helvetica;
    text-align: right; 
    position: fixed; 
    bottom: 0em; 
    right: 0em; 
    left: 0em; 
    max-width: 100%; 
}

.p2{
    display: inline;
    background-color: #31475A;
    color: white;
    flex-direction: row;
    font-size: 31.5px; 
    margin: 10px;
    font-family: Helvetica; 
    font-weight: bold; 
}

.hover2:hover {
    color: #F0921D;
  }

 .active {
    color: #F0921D;
  }

nav{
    display: flex;
    flex-direction: row;
    height: 100%;
    /*grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr;*/
}

#header-img
{
    background-color: #31475A; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-bottom: 3px solid #F0921D;
    flex: 1;
    height: 50%;
    margin-left: 1em;
    margin-top: auto; 
    margin-bottom: auto; 
    
}